{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' }
  ] 
%}
{# This is going to be refactored once the Payment service is integrated and we have full knowledge of the payload
   coming from it.
#}
{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% if paid == false %}
        {{ components.heading(text='Pay a DVSA Penalty', tag='h1', size='xlarge') }}
        {{ components.paragraph(text='We found the following details in our records') }}
        <br />
      {% else %}
        {{ components.heading(text='Penalty payment confirmation', tag='h1', size='xlarge') }}
        <p>You paid a penalty for the payment code:&nbsp;<b>{{ paymentCode }}</b>
        {{ components.paragraph(text='A confirmation has been sent to the DVSA location where the penalty has been issued.') }}
      {% endif %}

      {% if cancellationFailed %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-cancellation-failed" tabindex="-1">
          <h2 class="heading-medium error-summary-heading">
            The payment code cancellation failed
          </h2>
        </div>
      {% endif %}

      {% if reverseFailed %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-reverse-failed" tabindex="-1">
          <h2 class="heading-medium error-summary-heading">
            The reverse payment failed.
          </h2>
          <p>Please note: payments cannot be reversed on the same day they were made. You must wait until the next day to do this.</p>
        </div>
      {% endif %}

      {% if enabled == false %}
        <p>
          {{ components.notice(text='This payment code has been cancelled') }} 
        </p>
      {% endif %}

        <table class="details">
          <caption class="heading-medium">Penalty Details</caption>
          <tbody>
            <tr>
              <td>Status:</td>
              <td class="{{ statusClass }}">{{ status }} {% if paid %} &nbsp;&nbsp;<img src="{{ assets }}/images/icon-check.png" /> {% endif %} </td>
            </tr>
            <tr>
              <td>Payment Code:</td>
              <td>{{ paymentCode }}</td> 
            </tr>
            <tr>
              <td>Penalty Type:</td>
              <td>{{ typeDescription }}</td>
            </tr>
            <tr>
              <td>Amount:</td>
              <td>£{{ amount }}</td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td>{{ formattedReference }}</td>
            </tr>
            <tr>
              <td>Vehicle Registration:</td>
              <td>{{ vehicleReg if complete else 'Not available' }}</td> 
            </tr>
            <tr>
              <td>Payment code issued at:</td>
              <td>{{ paymentCodeIssueDateTime if paymentCodeIssueDateTime else 'Not available' }}</td>
            </tr>
            <tr>
              <td>Penalty issued on:</td>
              <td>{{ penaltyIssueDate if complete else 'Not available' }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ location | escape if complete else 'Not available' }}</td> 
            </tr>
          </tbody>
        </table>
        <p>
        {% if paid %}
        <p>
          <table class="details">
              <caption class="heading-medium">Payment Details</caption>
            <tbody>
              <tr>
                <td>Payment reference:</td> 
                <td>{{ paymentRef }}</td> 
              </tr>
              {% if paymentAuthCode %}
              <tr>
                <td>Authorisation code:</td> 
                <td>{{ paymentAuthCode }}</td> 
              </tr>
              {% endif %}
              <tr>
                <td>Paid on:</td> 
                <td>{{ paymentDate }}</td>
              </tr>
            </tbody>
          </table>
        </p>
         {% if not isReversible %}
          {{ components.notice(text='You cannot reverse this at this time because payments cannot be reversed on the same day they were made. You must wait until the next day to do this.')}}
          <br>
        {% endif %}
        {{ components.button(text='Pay another penalty', url='/') }}
        {% if isReversible %}
          {% call components.form(action='/payment-code/'+paymentCode+'/reversePayment', method='POST', class='right')  %}
            {{ components.button(text='Reverse payment', type='submit', secondary='true') }}
          {%- endcall %}
        {% endif %}
        {% elif isPaymentOverdue %}
          <h2 class="heading-medium">Payment Details</h2>
          <p>Payment can no longer be taken. The deadline for payment has passed.</p>
        {% elif enabled == true or enabled == undefined %}
          {% call components.form(action='/payment-code/'+paymentCode+'/payment', method='GET')  %}
            {% call components.formGroup() %}
              {{ components.heading(text='Payment by', tag='h3', size='medium') }}
              {{ components.radio(text='Card (external website)', value='card', id='pay-by-card', name='paymentType', checked="true") }}
              {{ components.radio(text='Cash', value='cash', id='pay-by-cash', name='paymentType') }}
              {% if type !== 'IM' %}
                {{ components.radio(text='Cheque', value='cheque', id='pay-by-cheque', name='paymentType') }}
                {{ components.radio(text='Postal Order', value='postal', id='pay-by-postal', name='paymentType') }}
              {% endif %}
            {%- endcall %}
            {{ components.button(text='Continue to payment', type='submit') }}
          {%- endcall %}
        {% endif %}
    {%- endcall %}

    {% if isCancellable %}
      {% call components.columnOneThird() %}
      <aside class="govuk-related-items" role="complementary">
        {{ components.heading(text='Additional actions', tag='h3', size='medium') }}
        <nav role="navigation" aria-labelledby="subsection-title">
          <form id="other-actions-form" action="{{urlroot}}/penalty/{{reference}}_{{type}}/cancel" method="POST">
            <input type="submit" class="cancel-payment-code" value="Cancel payment code" />
        </form>
        </nav>
      </aside>
      {%- endcall %}
    {% endif %}
  {%- endcall %}
  
{% endblock %}
