{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' }
  ] 
%}

{% set paid = true if paymentStatus == 'PAID' else false %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% if paid == false %}
        {{ components.heading(text='Summary of DVSA roadside fines', tag='h1', size='large') }}
        {{ components.paragraph(text='We found the following details in our records') }}
      {% else %}
        {{ components.heading(text='Payment confirmation', tag='h1', size='xlarge') }}
        <p>All outstanding fines for this payment code have been paid.</p>
        {{ components.paragraph(text='A confirmation has been sent to the DVSA location where it was issued.') }}
      {% endif %}

      {% if cancellationFailed %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-cancellation-failed" tabindex="-1">
          <h2 class="heading-medium error-summary-heading">
            The payment code cancellation failed
          </h2>
        </div>
      {% endif %}

      {% if reverseFailed %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-reverse-failed" tabindex="-1">
          <h2 class="heading-medium error-summary-heading">
            The reverse payment failed.
          </h2>
        </div>
      {% endif %}

      {% if penaltyGroupDetails.enabled == false %}
        <p>
          {{ components.notice(text='This payment code has been cancelled') }} 
        </p>
      {% endif %}

      <table class="details">
        <tbody>
          <tr>
            <td>Payment code</td>
            <td>{{ paymentCode }}</td>
          </tr>
          <tr>
            <td>Vehicle Registration</td>
            {% if isPenaltyGroup == false %}
              <td>{{ penaltyDetails.vehicleReg if penaltyDetails.complete else 'Not available' }}</td>
            {% else %}
              <td colspan=2>{{ penaltyGroupDetails.registrationNumber if penaltyGroupDetails.registrationNumber else 'N/A' }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Payment code issued at</td>
            {% if isPenaltyGroup == false %}
              <td colspan=2>{{ penaltyDetails.penaltyIssueDate if penaltyDetails.complete else 'Not available' }}</td>
            {% else %}
              <td colspan=2>{{ penaltyGroupDetails.dateTime }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Location</td>
            {% if isPenaltyGroup == false %}
              <td colspan=2>{{ penaltyDetails.location | escape if penaltyDetails.complete else 'Not available' }}</td> 
            {% else %}
              <td colspan=2>{{ location | escape }}</td>
            {% endif %}
          </tr>
          {% for amount in penaltyGroupDetails.splitAmounts|sort(attribute='type', reverse=true) %}
            {% set amountPaid = true if amount.status == 'PAID' else false %}
            {% set statusClass = 'confirmed' if amountPaid else 'unconfirmed' %}
            <tr>
              <td>
                {% if amount.type == 'FPN' %}
                  Fixed Penalties
                {% elif amount.type == 'CDN' %}
                  Court Deposits
                {% elif amount.type == 'IM' %}
                  Immobilisation Fee
                  <br />
                  {% for penaltyType in penaltyDetails %}
                    {% if penaltyType.type == 'IM' %}
                      {{ penaltyType.penalties[0].formattedReference }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td>
                &pound;{{ amount.amount }}
                <span class="{{statusClass}}">
                  {% if amountPaid %}
                    PAID &nbsp;&nbsp;
                    <img src="{{ assets }}/images/icon-check.png" />
                  {% else %}
                    UNPAID &nbsp;
                  {% endif %}
                </span>
              </td>
              <td>
                {% if amountPaid == true %}
                  {{ components.link(text='Receipt', url='/payment-code/' + paymentCode + '/' + amount.type + '/receipt') }}
                  {% call components.form(action='/payment-code/' + paymentCode + '/' + amount.type + '/reverseGroupPayment', method='POST', class='right')  %}
                    {{ components.button(text='Reverse payment', type='submit', secondary='true') }}
                  {%- endcall %}
                {% else %}
                  {% if penaltyGroupDetails.enabled %}
                    {% if amount.type == 'FPN' %}
                      {% set paymentButtonTxt = 'Pay fixed penalties' %}
                    {% elif amount.type == 'CDN' %}
                      {% set paymentButtonTxt = 'Pay court deposits' %}
                    {% elif amount.type == 'IM' %}
                      {% set paymentButtonTxt = 'Pay immobilisation fee' %}
                    {% endif %}
                    <div>
                      {{ components.button(text=paymentButtonTxt, url='/payment-code/' + paymentCode + '/' + amount.type + '/details') }}
                    </div>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% for penaltyType in penaltyDetails %}
        {% if penaltyType.type == 'FPN' %}
          <div>
            {{ components.heading(text='Fixed penalty details', tag='h3', size='medium') }}
            <table>
              <thead>
                <tr>
                  <th>Reference</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for penalty in penaltyType.penalties %}
                  <tr>
                    <td>{{ penalty.formattedReference }}</td>
                    <td>&pound;{{ penalty.amount }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% elif penaltyType.type == 'CDN' %}
          <div>
            {{ components.heading(text='Court deposity details', tag='h3', size='medium') }}
            <table>
              <thead>
                <tr>
                  <th>Reference</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for penalty in penaltyType.penalties %}
                  <tr>
                    <td>{{ penalty.formattedReference }}</td>
                    <td>&pound;{{ penalty.amount }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endfor %}
    {%- endcall %}

    {% if isCancellable %}
      {% call components.columnOneThird() %}
        <aside class="govuk-related-items" role="complementary">
          {{ components.heading(text='Additional actions', tag='h3', size='medium') }}
          <nav role="navigation" aria-labelledby="subsection-title">
            <form id="other-actions-form" action="{{urlroot}}/payment-code/{{paymentCode}}/cancel" method="POST">
              <input type="submit" class="cancel-payment-code" value="Cancel payment code" />
          </form>
          </nav>
        </aside>
      {%- endcall %}
    {% endif %}
  {%- endcall %}
  
{% endblock %}
