{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ] 
%}

{% set paid = true if paymentStatus == 'PAID' else false %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% if paid == false %}
        {{ components.heading(text='Pay a DVSA Penalty', tag='h1', size='xlarge') }}
        <p>Payment code: <strong>{{ paymentCode }}</strong></p>
        {{ components.paragraph(text='We found the following details in our records') }}
      {% else %}
        {{ components.heading(text='Penalty Payment Confirmation', tag='h1', size='xlarge') }}
        <p>You paid a penalty for the payment code:&nbsp;<b>{{ paymentCode }}</b>
        {{ components.paragraph(text='A confirmation has been sent to the DVSA location where the penalty has been issued.') }}
      {% endif %}

      <table class="details">
        <tbody>
          <tr>
            <td>Vehicle Registration</td>
            {% if isPenaltyGroup == false %}
              <td>{{ penaltyDetails.vehicleReg if penaltyDetails.complete else 'Not available' }}</td>
            {% else %}
              <td colspan=2>{{ penaltyGroupDetails.registrationNumber if penaltyGroupDetails.registrationNumber else 'N/A' }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Penalty issued on</td>
            {% if isPenaltyGroup == false %}
              <td colspan=2>{{ penaltyDetails.issueDate if penaltyDetails.complete else 'Not available' }}</td>
            {% else %}
              <td colspan=2>{{ penaltyGroupDetails.date }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Location</td>
            {% if isPenaltyGroup == false %}
              <td colspan=2>{{ penaltyDetails.location if penaltyDetails.complete else 'Not available' }}</td> 
            {% else %}
              <td colspan=2>{{ penaltyGroupDetails.location }}</td>
            {% endif %}
          </tr>
          {% for amount in penaltyGroupDetails.splitAmounts|sort(attribute='type', reverse=true) %}
            {% set amountPaid = true if amount.status == 'PAID' else false %}
            {% set statusClass = 'confirmed' if amountPaid else 'unconfirmed' %}
            <tr>
              <td>
                {% if amount.type == 'FPN' %}
                  Fixed Penalties
                {% elif amount.type == 'CDN' %}
                  Court Deposits
                {% elif amount.type == 'IM' %}
                  Immobilisation Fee
                  <br />
                  {% for penaltyType in penaltyDetails %}
                    {% if penaltyType.type == 'IM' %}
                      {{ penaltyType.penalties[0].formattedReference }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td>
                &pound;{{ amount.amount }}
                <span class="{{statusClass}}">
                  {% if amountPaid %}
                    PAID &nbsp;&nbsp;
                    <img src="{{ assets }}/images/icon-check.png" />
                  {% else %}
                    UNPAID &nbsp;
                  {% endif %}
                </span>
              </td>
                <td class='penalty-type-payment-cell'>
                  {% if amountPaid == false %}
                    {% if amount.type == 'FPN' %}
                      {% set paymentButtonTxt = 'Pay fixed penalties' %}
                    {% elif amount.type == 'CDN' %}
                      {% set paymentButtonTxt = 'Pay court deposits' %}
                    {% elif amount.type == 'IM' %}
                      {% set paymentButtonTxt = 'Pay immobilisation fee' %}
                    {% endif %}
                    <div>
                      {{ components.button(text=paymentButtonTxt, url='/payment-code/' + paymentCode + '/' + amount.type + '/details') }}
                    </div>
                  {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% for penaltyType in penaltyDetails %}
        {% if penaltyType.type == 'FPN' %}
          <p>
            <details>
              <summary><span class="summary">See fixed penalty details</span></summary>
              <div class="panel panel-border-narrow">
                <table>
                  <thead>
                    <tr>
                      <th>Reference</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for penalty in penaltyType.penalties %}
                      <tr>
                        <td>{{ penalty.formattedReference }}</td>
                        <td>&pound;{{ penalty.amount }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </details>    
          </p>
        {% elif penaltyType.type == 'CDN' %}
          <p>
            <details>
              <summary><span class="summary">See court deposit details</span></summary>
              <div class="panel panel-border-narrow">
                <table>
                  <thead>
                    <tr>
                      <th>Reference</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for penalty in penaltyType.penalties %}
                      <tr>
                        <td>{{ penalty.formattedReference }}</td>
                        <td>&pound;{{ penalty.amount }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </details>    
          </p>
        {% endif %}
      {% endfor %}

      {% if paid %}
        <p>
        You can: &nbsp; 
          {{ components.list(items=[
            { text: 'share payment confirmation via SMS', url: '#' },
            { text: 'share payment confirmation via email', url: '#' },
            { text: 'alternatively, make a note of the confirmation code for later reference.' }
          ], type='bullet') }}
        </p>
        {{ components.button(text='Pay another penalty', url='/payment-code') }}
      {% endif %}
    {# ends components.columnTwoThirds #}
    {%- endcall %}
  {# ends components.gridRow #}
  {%- endcall %}
  
{% endblock %}
