{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' },
    { text: 'Payment Code', url: '/' },
    { text: 'Penalty Details' }
  ] 
%}
{# This is going to be refactored once the Payment service is integrated and we have full knowledge of the payload
   coming from it.
#}
{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% if paid == false %}
        {{ components.heading(text='Pay a DVSA Penalty', tag='h1', size='xlarge') }}
        {{ components.paragraph(text='We found the following details in our records') }}
      {% else %}
        {{ components.heading(text='Penalty payment confirmation', tag='h1', size='xlarge') }}
        <p>You paid a penalty for the payment code:&nbsp;<b>{{ paymentCode }}</b>
        {{ components.paragraph(text='A confirmation has been sent to the DVSA location where the penalty has been issued.') }}
      {% endif %}
        <table class="details">
          <caption class="heading-medium">Penalty Details</caption>
          <tbody>
            <tr>
              <td>Status:</td>
              <td class="{{ statusClass }}">{{ status }} {% if paid %} &nbsp;&nbsp;<img src="{{ assets }}/images/icon-check.png" /> {% endif %} </td>
            </tr>
            <tr>
              <td>Payment Code:</td>
              <td>{{ paymentCode }}</td> 
            </tr>
            <tr>
              <td>Penalty Type:</td>
              <td>{{ typeDescription }}</td>
            </tr>
            <tr>
              <td>Amount:</td>
              <td>£{{ amount }}</td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td>{{ formattedReference }}</td>
            </tr>
            <tr>
              <td>Vehicle Registration:</td>
              <td>{{ vehicleReg if complete else 'Not available' }}</td> 
            </tr>
            <tr>
              <td>Penalty issued on:</td>
              <td>{{ issueDate if complete else 'Not available' }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ location if complete else 'Not available' }}</td> 
            </tr>
          </tbody>
        </table>
        <p>
        {% if paid %}
        <p>
          <table class="details">
              <caption class="heading-medium">Payment Details</caption>
            <tbody>
              <tr>
                <td>Payment reference:</td> 
                <td>{{ paymentRef }}</td> 
              </tr>
              {% if paymentAuthCode %}
              <tr>
                <td>Authorisation code:</td> 
                <td>{{ paymentAuthCode }}</td> 
              </tr>
              {% endif %}
              <tr>
                <td>Paid on:</td> 
                <td>{{ paymentDate }}</td>
              </tr>
            </tbody>
          </table>
        </p>
        {{ components.button(text='Pay another penalty', url='/') }}
        {% else %}
          {% call components.form(action='/payment-code/'+paymentCode+'/payment', method='GET')  %}
            {% call components.formGroup() %}
              {{ components.heading(text='Payment by', tag='h3', size='medium') }}
              {{ components.radio(text='Card (external website)', value='card', id='pay-by-card', name='paymentType', checked="true") }}
              {{ components.radio(text='Cash', value='cash', id='pay-by-cash', name='paymentType') }}
              {{ components.radio(text='Cheque', value='cheque', id='pay-by-cheque', name='paymentType') }}
              {{ components.radio(text='Postal Order', value='postal', id='pay-by-postal', name='paymentType') }}
            {%- endcall %}
            {{ components.button(text='Continue to payment', type='submit') }}
          {%- endcall %}
        {% endif %}
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        Other actions
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='Resend penalty details via SMS', url='#') }} </li>
            <li> {{ components.link(text='Resend penalty details via email', url='#') }} </li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}