{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Search results for ' + vehicleReg %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' }
  ] 
%}

{% block content %}
  {% call components.gridRow() %}
    {{ components.heading(text='Vehicle registration search results', tag='h1', size='large') }}
    {{ components.paragraph(text='Results for ' + vehicleReg) }}
    <table>
      <thead>
        <th>Payment code</th>
        <th>Issued at</th>
        <th>Status</th>
        <th>Summary</th>
      </thead>
      <tbody>
        {% for result in results|sort(attribute='date', reverse=true) %}
          <tr>
            <td>{{ components.link(text=result.paymentCode, url='/payment-code/' + result.paymentCode) }}</td>
            <td>{{ result.formattedDate }}</td>

              {% if result.paymentStatus == 'PAID' %}
                {% set statusClass = 'confirmed' %}
              {% elif result.paymentStatus == 'CANCELLED' %}
                {% set statusClass = 'cancelled' %}
              {% else %}
                {% set statusClass = 'unconfirmed' %}
              {% endif %}

              <td><span class='{{statusClass}}'><strong>{{ result.paymentStatus }}</strong></span></td>
            <td>{{ result.summary }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
  {%- endcall %}
{% endblock %}
