{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' }
  ]
%}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {{ components.heading(text="Payment by postal order", tag="h1", size="large") }}
        <table class="details">
          <caption class="heading-medium">Penalty Details</caption>
          <tbody>
            <tr>
              <td>Payment Code:</td>
              <td>{{ paymentCode }}</td> 
            </tr>
            <tr>
              <td>Vehicle registration:</td>
              <td>{{ penaltyGroupDetails.registrationNumber }}</td>
            </tr>
            <tr>
              <td>Date issued:</td>
              <td>{{ penaltyGroupDetails.date }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ penaltyGroupDetails.location | escape }}</td>
            </tr>
            <tr>
              <td>Status:</td>
              {% set statusClass = 'confirmed' if paymentStatus == 'PAID' else 'unconfirmed' %}
              <td><span class='{{statusClass}}'>{{ paymentStatus }}</span></td>
          </tbody>
        </table>

        <br />

        <table>
          <thead>
            <th>Penalty Reference</th>
            <th>Amount</th>
          </thead>
          <tbody>
            {% for penaltyTypeGroup in penaltyDetails %}
              {% if penaltyTypeGroup.type == paymentPenaltyType %}
                {% for penalty in penaltyTypeGroup.penalties %}
                  <tr>
                    <td>{{ penalty.formattedReference }}</td>
                    <td>&pound;{{ penalty.amount }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        {% call components.form(action="", method="POST") %}
						<input type="hidden" name="reference" value="{{ reference }}">
						<input type="hidden" name="type" value="{{ type }}">
						<input type="hidden" name="amount" value="{{ amount }}">
						<input type="hidden" name="paymentCode" value="{{ paymentCode }}">
            <input type="hidden" name="vehicleReg" value="{{ vehicleReg }}">
            <input type="hidden" name="paymentType" value="postal">

          {{ components.heading(text="Payment details ", tag="h3", size="medium") }}
          <p>{{ components.field(id="postalOrderNumber", type="number", label= "Postal order number", required=true) }}</p>
          <p>{{ components.field(id="slipNumber", type="number", label="Paying in slip number", required=true) }}</p>
          {{ components.button(text="Confirm payment", type="submit") }}
        {%- endcall %}
    {%- endcall %}
  {%- endcall %}
{% endblock %}