{% extends 'layouts/default.layout.njk' %}

{% if penaltyType == 'FPN' %}
  {% set title = 'Pay fixed penalties' %}
  {% set breadcrumbLeaf = 'Fixed penalties' %}
  {% set submitButtonText = 'Pay fixed penalties' %}
{% elif penaltyType == 'CDN' %}
  {% set title = 'Pay court deposits' %}
  {% set breadcrumbLeaf = 'Court deposit' %}
  {% set submitButtonText = 'Pay court deposits' %}
{% elif penaltyType == 'IM' %}
  {% set title = 'Pay immobilisation fee' %}
  {% set breadcrumbLeaf = 'Immobilisation' %}
  {% set submitButtonText = 'Pay immobilisation fee' %}
{% endif %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' },
    { text: paymentCode, url: '/payment-code/' + paymentCode },
    { text: breadcrumbLeaf }
  ] 
%}
  
{% block content %}
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {{ components.heading(text=title, tag='h1', size='xlarge') }}
      {# Payment summary table #}
      <table>
        <thead>
          <tr>
            <th>Reference</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for penalty in penaltyDetails %}
            {% set statusClass = 'confirmed' if penalty.status == 'PAID' else 'unconfirmed' %}
            <tr>
              <td>{{ penalty.formattedReference }}</td> 
              <td>&pound;{{ penalty.amount }}</td> 
              <td class="{{ statusClass }}"><strong>{{ penalty.status }}</strong></td>
            </tr>   
          {% endfor %}
          {% if penaltyDetails.length > 1 %}
            <tr>
              <td>Total Amount</td> 
              <td><strong>&pound;{{ totalAmount if totalAmount else 'N/A' }}</strong></td> 
              <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <br />
      {% if paymentStatus !== 'PAID' %}
        {% call components.form(action='/payment-code/' + paymentCode + '/' + penaltyType + '/payment', method='GET')  %}
          {% call components.formGroup() %}
            {{ components.heading(text='Payment by', tag='h3', size='medium') }}
            {{ components.radio(text='Card (external website)', value='card', id='pay-by-card', name='paymentType', checked="true") }}
            {{ components.radio(text='Cash', value='cash', id='pay-by-cash', name='paymentType') }}
            {{ components.radio(text='Cheque', value='cheque', id='pay-by-cheque', name='paymentType') }}
            {{ components.radio(text='Postal Order', value='postal', id='pay-by-postal', name='paymentType') }}
          {%- endcall %}
          {{ components.button(text=submitButtonText, type='submit') }}
        {%- endcall %}
      {% endif %}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}
