{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' },
    { text: 'Payment Code', url: '/' },
    { text: 'Penalty Details', url: '/payment-code/'+paymentCode },
    { text: 'Payment by Postal Order' }
  ]
%}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {{ components.heading(text="Payment by postal order for", tag="h1", size="large") }}
      {{ components.paragraph(text=paymentCode, lead=true) }}
        <table class="details">
          <caption class="heading-medium">Penalty Details</caption>
          <tbody>
            <tr>
              <td>Status:</td>
              <td class="error">Unpaid</td>
            </tr>
            <tr>
              <td>Payment Code:</td>
              <td>{{ paymentCode }}</td> 
            </tr>
            <tr>
              <td>Penalty Type:</td>
              <td>{{ typeDescription }}</td>
            </tr>
            <tr>
              <td>Amount:</td>
              <td>£{{ amount }}</td>
            </tr>
            <tr>
              <td>Reference:</td>
              <td>{{ formattedReference }}</td>
            </tr>
            <tr>
              <td>Vehicle registration:</td>
              <td>{{ vehicleReg }}</td>
            </tr>
            <tr>
              <td>Penalty issued on:</td>
              <td>{{ penaltyIssueDate }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ location }}</td>
            </tr>
          </tbody>
        </table>
        <p>
        {% call components.form(action="", method="POST") %}
						<input type="hidden" name="reference" value="{{ reference }}">
						<input type="hidden" name="type" value="{{ type }}">
						<input type="hidden" name="amount" value="{{ amount }}">
						<input type="hidden" name="paymentCode" value="{{ paymentCode }}">
            <input type="hidden" name="vehicleReg" value="{{ vehicleReg }}">
            <input type="hidden" name="paymentType" value="postal">

          {{ components.heading(text="Payment details ", tag="h3", size="medium") }}
          <p>{{ components.field(id="postalOrderNumber", type="number", label= "Postal order number", required=true) }}</p>
          <p>{{ components.field(id="slipNumber", type="number", label="Paying in slip number", required=true) }}</p>
          {{ components.button(text="Confirm payment", type="submit") }}
        {%- endcall %}
    {%- endcall %}
  {%- endcall %}
{% endblock %}