{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home' }
  ] 
%}
{% block content %}
  
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

      {{ components.heading(text='Take payments for DVSA penalties', tag='h1', size='xlarge') }}

      {% if invalid %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-payment-code" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-payment-code">
            There was a problem
          </h2>
          The {{ input }} you entered was not recognised by the system.
        </div>
      {% endif %}

      <form action="{{ urlroot }}/" method="POST">
      <div class="form-group">
        <fieldset>
        <!-- Fixed Penalty -->
          <div class="multiple-choice" data-target="search-fixed-penalty">
            <input id="search-by-penalty-ref" type="radio" name="search-by" value='FPN' {% if invalidFPN or invalid == false %} checked {% endif %}>
            <label class="{{ 'error' if invalidFPN }}" for="search-by-penalty-ref"><strong>Fixed penalty</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidFPN }}" id="search-fixed-penalty">
            <label class="form-label" for="penalty_ref_FPN">
            {% if invalidFPN %}
              <span class="error-message">Enter a valid fixed penalty reference</span>
            {% else %}
              For example, '7862788768788'
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidFPN }}" name="penalty_ref_FPN" type="text" id="penalty_ref_FPN" maxlength="18">
          </div>
        <!-- Immobilisation -->
          <div class="multiple-choice" data-target="search-immobilisation">
            <input id="search-by-penalty-ref-IM" type="radio" name="search-by" value='IM' {% if invalidIM %} checked {% endif %}>
            <label class="{{ 'error' if invalidIM }}" for="search-by-penalty-ref-IM"><strong>Immobilisation</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidIM }}" id="search-immobilisation">
            <label class="form-label" for="penalty_ref_IM">
            {% if invalidIM %}
              <span class="error-message">Enter a valid immobilisation reference</span>
            {% else %}
              For example, '2500-1-5109-IM'
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidIM }}" name="penalty_ref_IM" type="text" id="penalty_ref_IM" maxlength="18">
          </div>
          <!-- Court Deposit -->
          <div class="multiple-choice" data-target="search-court-deposit">
            <input id="search-by-penalty-ref-CDN" type="radio" name="search-by" value='CDN' {% if invalidCDN %} checked {% endif %}>
            <label class="{{ 'error' if invalidCDN }}" for="search-by-penalty-ref-CDN"><strong>Court deposit</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidCDN }}" id="search-court-deposit">
            <label class="form-label" for="penalty_ref_FPN">
            {% if invalidCDN %}
              <span class="error-message">Enter a valid court deposit reference</span>
            {% else %}
              For example, '546354976356'
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidCDN }}" name="penalty_ref_CDN" type="text" id="penalty_ref_CDN" maxlength="18">
          </div>
          <!-- Payment Code -->
          <div class="multiple-choice" data-target="search-payment-code">
            <input id="search-by-payment-code" type="radio" name="search-by" value='code' {% if invalidPaymentCode %} checked {% endif %}>
            <label class="{{ 'error' if invalidPaymentCode }}" for="search-by-payment-code"><strong>Payment code</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidPaymentCode }}" id="search-payment-code">
            <label class="form-label" for="payment_code">
            {% if invalidPaymentCode %}
              <span class="error-message">Enter a valid payment code</span>
            {% else %}
              For example, '656b8c69cef1cdf4'
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidPaymentCode }}" name="payment_code" type="text" id="payment_code" maxlength="19">
          </div>
        </fieldset>
      </div>
      {{ components.button(text='Continue') }}
    </form>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        Other actions
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='Generate report', url='/reports') }} </li>
            <li> {{ components.link(text='Resend penalty details via email', url='#') }} </li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}