{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home' }
  ] 
%}
{% block content %}
  
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

      {{ components.heading(text='Take payments for DVSA penalties', tag='h1', size='xlarge') }}

      {% if invalid %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-payment-code" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-payment-code">
            There was a problem
          </h2>
          The {{ input }} you entered was not recognised by the system.
        </div>
      {% endif %}

      <form action="{{ urlroot }}/" method="POST">
      <div class="form-group">
        <fieldset>
          <div class="multiple-choice" data-target="search-penalty-ref">
            <input id="search-by-penalty-ref" type="radio" name="search-by-payment-code" value='false' {% if invalidPenaltyReference or invalid == false %} checked {% endif %}>
            <label class="{{ 'error' if invalidPenaltyReference }}" for="search-by-penalty-ref"><strong>Penalty reference</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidPenaltyReference }}" id="search-penalty-ref">
            <label class="form-label" for="penalty_ref">
            {% if invalidPenaltyReference %}
              <span class="error-message">Enter a valid penalty reference</span>
            {% else %}
              Penalty reference number
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidPenaltyReference }}" name="penalty_ref" type="text" id="penalty_ref" maxlength="18">
          </div>
                    <div class="multiple-choice" data-target="search-payment-code">
            <input id="search-by-payment-code" type="radio" name="search-by-payment-code" value='true' {% if invalidPaymentCode %} checked {% endif %}>
            <label class="{{ 'error' if invalidPaymentCode }}" for="search-by-payment-code"><strong>Payment code</strong></label>
          </div>
          <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if invalidPaymentCode }}" id="search-payment-code">
            <label class="form-label" for="payment_code">
            {% if invalidPaymentCode %}
              <span class="error-message">Enter a valid payment code</span>
            {% else %}
              Payment code
            {% endif %}
            </label>
            <input class="form-control {{ 'form-control-error' if invalidPaymentCode }}" name="payment_code" type="text" id="payment_code" maxlength="19">
          </div>
        </fieldset>
      </div>
      {{ components.button(text='Continue') }}
    </form>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        Other actions
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='Resend penalty details via SMS', url='#') }} </li>
            <li> {{ components.link(text='Resend penalty details via email', url='#') }} </li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}