// GOVUK
@import 'gds/gds';

// Mixins
@import 'mixins/mixins';

// Variables
@import 'variables';

// Custom Modules
@import 'modules/modules';

table.grey-table {
  background-color: #DEE0E2 !important;

  .heading-medium {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top:0;
  }

  .highlighted-row {
    color: #fff;
  }

  tr {
    td:first-child {
      padding-left: 30px;
      padding-right: 0; 
    }

    td:nth-child(2) {
      font-weight: bold;
    }
  }

  td {
    border: none;
  }
}

table.details {
  td:nth-child(2) {
    font-weight: bold;
  }
}

.error, 
.unconfirmed {
  color: $error-colour;
}

.confirmed {
  color: #00823B;
}

.userInfo {
  color: white;
  float: right;
  font-weight: normal;
  margin-top: 0.625em;
  margin-right: 15px;
}

// Hide side-bar on mobile
@media (max-width : 480px) {
  .govuk-related-items {
    display: none;
  }
}

@media (min-width : 768px) {
  .cpms-m-b-60 {
    input {
      width: 60%;
    }
  }
}



