// GOVUK
@import 'gds/gds';

// Mixins
@import 'mixins/mixins';

// Variables
@import 'variables';

// Custom Modules
@import 'modules/modules';

table.grey-table {
  background-color: #DEE0E2 !important;

  .heading-medium {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top:0;
  }

  .highlighted-row {
    color: #fff;
  }

  tr {
    td:first-child {
      padding-left: 30px;
      padding-right: 0; 
    }

    td:nth-child(2) {
      font-weight: bold;
    }
  }

  td {
    border: none;
  }
}

table.details {
  td:nth-child(2) {
    font-weight: bold;
  }
}

table.receipt-details {
  td {
    width: 50%;
  }
}

table#receipt-breakdown {
  margin-top: 30px;
}

.error, 
.unconfirmed {
  color: $error-colour;
}

.cancelled {
  color: $cancelled-colour;
}

.confirmed {
  color: #00823B;
}

.secondary-button {
  background-color: #bfc1c3;
  color: #0b0c0c;
  -webkit-box-shadow: 0 2px 0 #6f777b;
  box-shadow: 0 2px 0 #6f777b;
}

.secondary-button:hover {
  background-color: #454A4C;
}

.right {
  float: right; 
}

.inline-block {
  display: inline-block;
  margin-right:34px;
  margin-top:10px;
  .form-control {
    width: 100%;
  }
}

.userInfo {
  color: white;
  float: right;
  font-weight: normal;
  margin-top: 0.625em;
  margin-right: 15px;
}

// Hide side-bar on mobile
@media (max-width : 480px) {
  .govuk-related-items {
    display: none;
  }
}

@media (min-width : 768px) {
  .cpms-m-b-60 {
    input {
      width: 60%;
    }
  }

  .inline-block {
    margin-top:10px;
  }
}





